WebLocadora_Interface/Service References/ServiceReferences/LocacaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocacaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51813/LocacaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51813/LocacaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51813/LocacaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocacaoService_selAllLoca_InputMessage">
    <wsdl:part name="parameters" element="tns:selAllLoca" />
  </wsdl:message>
  <wsdl:message name="ILocacaoService_selAllLoca_OutputMessage">
    <wsdl:part name="parameters" element="tns:selAllLocaResponse" />
  </wsdl:message>
  <wsdl:message name="ILocacaoService_selCliLoc_InputMessage">
    <wsdl:part name="parameters" element="tns:selCliLoc" />
  </wsdl:message>
  <wsdl:message name="ILocacaoService_selCliLoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:selCliLocResponse" />
  </wsdl:message>
  <wsdl:message name="ILocacaoService_selPlacaLoc_InputMessage">
    <wsdl:part name="parameters" element="tns:selPlacaLoc" />
  </wsdl:message>
  <wsdl:message name="ILocacaoService_selPlacaLoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:selPlacaLocResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocacaoService">
    <wsdl:operation name="selAllLoca">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocacaoService/selAllLoca" message="tns:ILocacaoService_selAllLoca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocacaoService/selAllLocaResponse" message="tns:ILocacaoService_selAllLoca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selCliLoc">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocacaoService/selCliLoc" message="tns:ILocacaoService_selCliLoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocacaoService/selCliLocResponse" message="tns:ILocacaoService_selCliLoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selPlacaLoc">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocacaoService/selPlacaLoc" message="tns:ILocacaoService_selPlacaLoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocacaoService/selPlacaLocResponse" message="tns:ILocacaoService_selPlacaLoc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocacaoService" type="tns:ILocacaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selAllLoca">
      <soap:operation soapAction="http://tempuri.org/ILocacaoService/selAllLoca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selCliLoc">
      <soap:operation soapAction="http://tempuri.org/ILocacaoService/selCliLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selPlacaLoc">
      <soap:operation soapAction="http://tempuri.org/ILocacaoService/selPlacaLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocacaoService">
    <wsdl:port name="BasicHttpBinding_ILocacaoService" binding="tns:BasicHttpBinding_ILocacaoService">
      <soap:address location="http://localhost:51813/LocacaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>